<div id="sliderimage">
	{literal}
	<script type="text/javascript" src="script/SudoSlider/js/jquery.sudoSlider.min.js"></script>
	<script type="text/javascript" src="script/jcrop/js/jquery.Jcrop.js"></script>
	<script type="text/javascript" >
		$(document).ready(function(){   
		   $('#slidemenu > ul >li').click(function(){
		   		$('#slidemenu > ul >li').removeClass("active");
		   		$(this).addClass("active");
		   });
	
		   $('#slidemenu').find("img").each(function(){
		   	console.log($(this));
		   		$(this).css({height:40;width:100%;});
		   });
		});
	</script>
	{/literal}
	<div style="position:relative;">
	    <div id="slider" class="">
	        <ul>                
	            {foreach from=$image item=img}
					<li class="grid_12"><img  src="image/slider/{$img}" alt="img"></li>
				{/foreach}         
	        </ul>
	    </div>
	
		<div id="slidemenu" class="">
			<ul>
				{foreach from=$image item=img name=n}
					<li class="custom {if $smarty.foreach.n.first} active{/if}" rel="{$smarty.foreach.n.iteration}">
						<a href="#"><img style="height:40px;" src="image/slider/{$img}" alt="img"></a>
					</li>
				{/foreach}
				
			</ul>
		</div>
	</div>
</div>