<form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
      <label for="inputLogin" class="sr-only">Nom d'utilisateur</label>
      <input type="login" id="inputLogin" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
      <label for="inputPassword" class="sr-only">Mot de passe</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
    </form>
