<meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta name="description" content="{$description}">
<meta name="keywords" content="{$keywords}">

<base href="http://www.musicfordancers.gaelcarre.fr" />


<link rel="canonical" href="{$canonical}">
<title>{$title}</title>

<!-- STYLE -->
<link rel="stylesheet" href="style/style.css">
<link rel="stylesheet" href="style/bootstrap.min.css">
<link rel="stylesheet" href="style/bootstrap-grid.min.css">
<link rel="stylesheet" href="style/bootstrap-reboot.min.css">
<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
{foreach from=$sheets item=sheet}
	<link rel="stylesheet" href="{$sheet}">
{/foreach}

<!-- SCRIPT -->
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
