<h1>Ajout d'un CD</h1>
<a href="admin">Accueil Admin</a><br>
<a href="admin/cds">Gestion des cds</a>
<hr>

<form class="form-horizontal" method="post" action="admin/ajouterCD">
  <div class="control-group">
    <label class="control-label" for="inputTitle">Lien:</label>
    <div class="controls">
      <input type="text" id="inputTitle" name="link" placeholder="titre" class="input-xxlarge" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputContent">Style:</label>
    <div class="controls">
      <select name="category">
          {foreach from=$styles item=st}
            <option value="{$st.Category_id}">{$st.Category_title}</option>
          {/foreach}
      </select>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Ajouter</button>
    </div>
  </div>
</form>