<h1>Ajout d'une description en {$selectedLng}</h1>
<a href="admin">Accueil Admin</a><br>
<a href="admin/cds">Gestion des cds</a>
<hr>

<form class="form-horizontal" method="post" action="admin/ajouterDescriptionCD/{$cd_id}?lng={$selectedLng}">
  <div class="control-group">
    <label class="control-label" for="inputTitle">Titre:</label>
    <div class="controls">
      <input type="text" id="inputTitle" name="inputTitle" placeholder="titre" class="input-xxlarge" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputContent">Description:</label>
    <div class="controls">
      <textarea name="inputContent" id="inputContent" class="input-xxlarge"></textarea>  
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Ajouter</button>
    </div>
  </div>
</form>