<h1>Gestion du CD</h1>
<a href="admin">Accueil Admin</a><br>
<a href="admin/cds">Gestion des cds</a>
<hr>
<form class="form-inline" method="POST" action="admin/editerCD/{$cd->getId()}">
  <input type="text" name="link_cd" class="input-xxlarge" value="{$cd->getLink()}">
  <button type="submit" class="btn">Modifier</button>
</form>
<hr>
{foreach from=$lang.lang_possible key=k item=v}
	<div class="row-fluid">
		<h2>Description du CD pour la langue {$v}</h2>
		<div>
			{assign var="description" value=$cd->getDescriptionForLng($k)}
			{if $description}
				<h3>{$description->getTitle()}</h3>
				<p>{$description->getDescription()}</p>
				<a href="admin/editerDescriptionCD/{$description->getId()}" class="icon-pencil"></a>
			{else}
				<p>Pas de description pour le moment</p>
				<a href="admin/ajouterDescriptionCD/{$cd->getId()}?lng={$k}" class="icon-plus"></a>
			{/if}

		</div>
		<hr>
	</div>
{/foreach}